:root {
    --primary: #c35f1b;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4f4f4;
    font-family: "Karla";
    margin: 0;
    padding: 0;
}

.container {
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #131e2930;
}


nav .title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: #131e29;
}

nav .navbar ul {
    display: flex;
    align-items: center;

    padding-inline-start: 0;
}

nav .navbar a {
    color: #131e29;
    font-weight: 500;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .navbar a::after {
    content: '';
    background: #131e29;
    transition: all 0.2s ease;
    height: 2px;
    width: 0%;
    margin-top: 5px;
}

nav .navbar a:hover::after {
    width: 100%;
}

nav .btn button {
    font-family: "Karla";
    font-size: .95rem;
    width: 150px;
    height: 40px;
    background: #131e29;
    color: #fff;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
}

nav .btn button:hover {
    background: linear-gradient(90deg, #7C005A, #BB5060, #FFA366);
    color: #FFF;
    transition: all 0.2s ease;
}

nav .btn button:hover::after {
    content: 'Baixar App';
}

nav .btn button:hover>.svg-inline--fa {
    display: none;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;

    margin: 30px;
}

.hero .right img {
    width: 430px;
    height: 300px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.hero .right .square {
    width: 200px;
    height: 270px;
    position: absolute;
    background: linear-gradient(90deg, #7C005A, #BB5060, #FFA366);
    border-bottom-right-radius: 100px;
    transform: translate(290px, -205px);
    z-index: -1;
}

.features {
    height: 80vh;
}

.features .elementor-shape {
    z-index: 2;
    pointer-events: none;
    background: #f4f4f4;
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: -80vh;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.call {
    grid-column: 1 / 5;
    height: 80vh;
    background: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    grid-column: 1 / 5;
    height: 80vh;
}

/* Responsive */
@media (max-width: 920px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .container nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 15px 0px;
        padding: 0;
    }

    nav .btn {
        display: flex;
        justify-content: center;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .hero .right img {
        width: 100%;
        height: 100%;
    }

    .hero .right .square {
        display: none;
    }
}