:root {
    --primary: #c35f1b;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(90deg, #87d9f1, #368CA5) ;
    font-family: "Karla";
    margin: 0;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar */
nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #131e2930; */
    top: 0px;
    padding: 0px 20px;
}

.nav-colored {
    transition: all 0.2s ease;
    background-color:#f4f4f4; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.nav-transparent { 
    background: transparent;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo .svg-inline--fa {
    font-size: 1.5rem;
}

nav .logo .title {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    color: #131e29;

    padding-left: 15px;
}

nav .navbar ul {
    display: flex;
    align-items: center;

    padding-inline-start: 0;
}

nav .navbar a {
    color: #131e29;
    font-weight: 500;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav .navbar a::after {
    content: '';
    background: #131e29;
    transition: all 0.2s ease;
    height: 2px;
    width: 0%;
    margin-top: 5px;
}

nav .navbar a:hover::after {
    width: 100%;
}

nav .btn button {
    font-family: "Karla";
    font-size: .95rem;
    width: 150px;
    height: 40px;
    background: #131e29;
    color: #fff;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 10px;
}

nav .btn button:hover {
    background: linear-gradient(90deg, #7C005A, #BB5060, #FFA366);
    color: #FFF;
    transition: all 0.2s ease;
}

nav .btn button:hover::after {
    content: 'Baixar App';
}

nav .btn button:hover>.svg-inline--fa {
    display: none;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    justify-content: center;

    margin: 0;
}

.hero .right .images {
    display: flex;
}

.hero .right .img1 img,
.hero .right .img2 img,
.hero .right .img3 img {
    width: 300px;
    border-radius: 50%;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.hero .right .img2 img {
    margin-left: 30px;
    margin-top: 100px;
}

.hero .right .img3 img {
    margin-top: -80px;
    margin-left: 75px;
}

/* FEATURES */
.features {
    height: 80vh;
    background-color: #f4f4f4;
    padding: 50px;
}

.features .cards {
    display: flex;
    justify-content: space-evenly;
}

.features .cards .card {
    width: 200px;
    height: 200px;
    background: #131e29;
    border-radius: 20px;
}

.call {
    height: 80vh;
    /* background: url('/assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.footer {
    height: 40vh;
    background-color: #f4f4f4;
}

/* Responsive */
@media (max-width: 920px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    .container nav ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 15px 0px;
        padding: 0;
    }

    nav .btn {
        display: flex;
        justify-content: center;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: flex-end;
    }

    .hero .right img {
        width: 100%;
        height: 100%;
    }

    .hero .right .square {
        display: none;
    }
}